$largeScreenMaxWidth: 992px;
$mediumScreenMaxWidth: 768px;
$smallScreenMaxWidth: 576px;

#main-container {
    padding: 0 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: var(--mui-spacing-1);

    &.vertical {
        flex-direction: column;
        padding: 0px;
    }
}

.block-container {
    border: 1px solid var(--mui-palette-grey-300);
    border-radius: var(--mui-shape-borderRadius-1);
    padding: var(--mui-spacing-0);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: var(--mui-spacing-0);
}

#left-side-container {
    display: flex;
    flex-direction: column;
    gap: var(--mui-spacing-0);
    flex: 60% 1 1;

    @media only screen and (max-width: $largeScreenMaxWidth) {
        padding-bottom: 0px;
    }
}

button.toggle-collapse {
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--mui-palette-primary-main);
    background-color: white;
    padding: var(--mui-spacing-0) 0px;
}

#summary {
    padding-bottom: var(--mui-spacing-1);
}

#keyword-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: var(--mui-spacing-0);
    margin-bottom: var(--mui-spacing-0);

    .keyword {
        color: var(--mui-palette-secondary-main);
        border: 1px solid var(--mui-palette-secondary-main);
        border-radius: var(--mui-shape-borderRadius-2);
        width: fit-content;
        padding: 5px var(--mui-spacing-0);
        background-color: white;

        &.matched,
        &.original_and_matched {
            color: var(--mui-palette-custom-augmentationColor);
            background-color: var(--mui-palette-custom-augmentationBg);
            border: 1px solid var(--mui-palette-custom-augmentationBorder);
        }
    }

    button.toggle-collapse {
        padding: 5px;
    }
}

#thumbnail {
    display: flex;
    gap: var(--mui-spacing-0);
    justify-content: center;
    padding: var(--mui-spacing-0);
    align-items: center;
    flex-direction: row;

    .thumbnail {
        width: fit-content;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-height: 200px;
            min-width: 150px;
        }

        .ol-map {
            min-width: 250px;
            min-height: 150px;
        }
    }

    .thumbnail .augmented {
        border: 2px solid var(--mui-palette-custom-augmentationBorder);
        border-radius: var(--mui-shape-borderRadius-0);
        height: 100%;
    }
}

#right-side-container {
    display: flex;
    flex-direction: column;
    gap: var(--mui-spacing-0);
    flex: 40% 1 1;
}

#main-properties {
    display: flex;
    justify-content: space-between;
    gap: var(--mui-spacing-0);
    overflow-wrap: anywhere;
    flex-direction: row !important;

    .main-property {
        margin: var(--mui-spacing-0);
    }
}

#properties-container {
    height: 100%;

    ul,
    li {
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }

    ul {
        margin-bottom: var(--mui-spacing-0);
    }

    a {
        word-break: break-all;
    }

    .property-group {
        margin: 0px var(--mui-spacing-0);

        .property-title {
            font-size: 1.1rem;
            font-weight: bold;
            color: var(--mui-palette-primary-main);
        }
    }

    #contacts .toggle-collapse {
        display: flex;
    }

    .person_organization.collapsed {
        display: none;
    }
}

.tag {
    font-weight: 500;
    color: var(--mui-palette-primary-main);

    &.augmented {
        color: var(--mui-palette-custom-augmentationColor) !important;
        background-color: var(--mui-palette-custom-augmentationBg) !important;
        border-bottom: 1px solid var(--mui-palette-custom-augmentationBorder) !important;
        padding: 0px calc(0.25 * var(--mui-spacing-0));
    }
}

.augmentations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--mui-spacing-0);

    #augmentations-toggle {
        svg {
            margin-top: var(--mui-spacing-0);
            color: var(--mui-palette-custom-augmentationBorder) !important;
        }
    }

    #augmentations-modal {
        position: fixed;
        top: var(--mui-spacing-2);
        left: var(--mui-spacing-2);
        height: calc(100vh - 4 * var(--mui-spacing-2));
        width: calc(100vw - 4 * var(--mui-spacing-2));
        background-color: var(--mui-palette-custom-augmentationBg);
        box-shadow: 0px 0px 4px 4px var(--mui-palette-custom-augmentationBorder);
        display: flex;
        flex-direction: column;
        padding: var(--mui-spacing-2);
        z-index: 10;

        svg {
            color: var(--mui-palette-secondary-main) !important;
        }

        .modal_close {
            position: absolute;
            top: var(--mui-spacing-0);
            right: var(--mui-spacing-0);
        }

        &:not(:target) {
            visibility: hidden;
            opacity: 0;
        }

        table {
            border-collapse: collapse;
            overflow-x: auto;
            margin-top: var(--mui-spacing-0);
        }

        th {
            border: 1px solid var(--mui-palette-custom-augmentationBorder);
            background-color: var(--mui-palette-custom-augmentationBg);
            color: var(--mui-palette-custom-augmentationColor);
            padding: var(--mui-spacing-0);
        }

        td {
            border: 1px solid var(--mui-palette-custom-augmentationBorder);
            padding: var(--mui-spacing-0);

            &.value {
                max-width: 200px;
            }
        }

        .target {
            word-break: break-all;
            overflow: auto;
            max-width: 300px;
            max-height: 200px;
        }
    }
}

#authors,
#contacts {
    display: flex;
    flex-direction: column;

    .person_organization {
        margin-bottom: 12px;

        .person {
            display: flex;
            flex-direction: row;
            word-break: break-all;
            gap: 6px;

            &::before {
                content: '👤︎';
            }
        }

        .organization {
            display: flex;
            flex-direction: row;
            gap: 6px;

            &::before {
                content: '👥︎';
            }
        }
    }

    .toggle-collapse {
        padding-top: 0px;
    }
}

#contacts {
    list-style: none;
    padding-left: 0;

    .contact-item::before {
        padding-right: var(--mui-spacing-0);
    }

    .role::before {
        content: '👤︎';
    }
    .email::before {
        content: '✉';
    }
    .phone-number::before {
        content: '☎';
    }
    .fax-number::before {
        content: '🕼';
    }
}

#links {
    display: flex;
    flex-direction: column;

    .link::before {
        line-height: 1;
        vertical-align: middle;
    }

    .link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--mui-spacing-0);

        a {
            background-color: black;
            gap: var(--mui-spacing-0);
        }

        &.ok::before {
            content: '⬤';
            color: var(--mui-palette-primary-main);
        }
        &.error::before {
            content: '⮾';
            color: var(--mui-palette-error-main);
        }
        &.redirected::before {
            content: '⭮';
            color: black;
        }
        &.unauthorized::before {
            content: '🔒';
        }
        &.not_found::before {
            content: '?';
            color: black;
        }
        &.cannot_connect::before {
            content: '⚠️';
            color: black;
        }
    }
}

#similar-resources-container {
    border: 1px solid var(--mui-palette-grey-300);
    border-radius: var(--mui-shape-borderRadius-1);
    padding: var(--mui-spacing-1);
    background-color: white;
    display: flex;
    flex-direction: column;

    .similar-resources-title {
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--mui-palette-primary-main);
        margin-bottom: var(--mui-spacing-1);
    }

    .similar-resource {
        border-top: 1px solid var(--mui-palette-grey-400);
        border-bottom: 1px solid var(--mui-palette-grey-400);
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px;

        &:hover {
            border-top: 1px solid var(--mui-palette-secondary-main);
            border-bottom: 1px solid var(--mui-palette-secondary-main);
            background-color: color-mix(
                in srgb,
                var(--mui-palette-secondary-main) 5%,
                transparent
            );
        }

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
            color: var(--mui-palette-text-primary);
        }

        .subtitle {
            margin: 0px;
            color: var(--mui-palette-text-primary);
        }

        .abstract {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
            color: var(--mui-palette-text-primary);
        }
    }
}

.tooltip {
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    background-color: white;
    white-space: nowrap;
    padding: var(--mui-spacing-0);
    border-radius: var(--mui-shape-borderRadius-1);
    border: 1px solid var(--mui-palette-grey-300);
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@mixin my-mediumscreen-style {
    button.toggle-collapse {
        display: flex;
    }

    #summary {
        padding-bottom: var(--mui-spacing-0) !important;

        h1.collapsed {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
            margin-bottom: var(--mui-spacing-0);
        }

        #abstract.collapsed {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
    }

    .keyword.collapsed {
        display: none;
    }

    .augmentations #augmentations-modal {
        top: var(--mui-spacing-2) !important;
        left: var(--mui-spacing-1) !important;
        height: calc(100vh - 4 * var(--mui-spacing-2)) !important;
        width: calc(100vw - 4 * var(--mui-spacing-1)) !important;
        padding: var(--mui-spacing-1) !important;
        font-size: 0.8rem;

        table {
            overflow: auto;
            display: block;

            th,
            td {
                padding: calc(var(--mui-spacing-0) * 0.5) !important;
                white-space: nowrap;
            }
        }
    }

    #thumbnail {
        flex-wrap: wrap;

        .thumbnail {
            img {
                max-height: 120px !important;
            }

            .ol-map {
                min-width: 200px !important;
            }
        }
    }
}

@media (max-width: $mediumScreenMaxWidth) {
    @include my-mediumscreen-style();
}

@media (max-width: $smallScreenMaxWidth) {
    .thumbnail img {
        max-height: 80px !important;
    }

    .ol-zoom,
    .max-zoom {
        display: none;
    }
}
